{% extends 'layout.twig' %}

{% block contenido %}	

<div class="container">
	<div class="col col-12 listado formulario">
		<div class="container">
		<h2 class="title">
			<span class="icon">
				<i class="fa fa-cogs"></i>
			</span>
			{{ proyecto.cliente.nombreCliente }}->{{ proyecto.nombreProyecto }}

		</h2>
		<form id="proyectos" action="/proyectos/edit/{{proyecto.id}}" method="POST">
	<div class="input-group">
		<label for="proyecto">Nombre proyecto</label>
		<textarea name="proyecto" cols="40" rows="3"  maxlength="100" required>{{ proyecto.nombreProyecto }}</textarea>
		<br />
	</div>

	<div class="input-group">
		<label for="descripcion">Descripcion</label>
		<textarea name="descripcion" cols="40" rows="5" maxlength="255" required>{{ proyecto.descripcion }}</textarea>
		<br />
	</div>

	<span class="btn btn-primary">
		<i class="fa fa-check"></i>
		<input type="submit" value="Agregar cliente"/>
	</span>
</form>
		</div>
	</div>
</div>

{% endblock %}