
{% extends "layout.twig" %}

{% block contenido %}
<script>
    var comprasjson = {{compras|json_encode|raw}};
    var json = {{productos|json_encode|raw}};
  function cargarModal(j) {
    document.getElementById("formVerDetalles");
    var vdProveedor=document.getElementById("vdProveedor");
    var vdCUIL=document.getElementById("vdCUIL");

  }

</script>
    <div id="new" class="modal">
      <form method="post" id="formNew" action="/compras/new" class="modal-content abm-content">
        <a class="close" onclick="cerrar()" onkeypress="cerrar()" role="button">×</a>
        <h3>Nueva venta</h3>
        <label for="newProveedor">Proveedor: </label>
        <input type="text" name="newProveedor" id="newProveedor" maxlength="20" placeholder="Proveedor" required />
        <label for="newCUIL">CUIL del Proveedor: </label>
        <input type="text" name="newCUIL" id="newCUIL" maxlength="20"  placeholder="CUIL" required />
        <!--spoiler -->
        <input type="checkbox" id="spoilerNewCompra">
        <label for="spoilerNewCompra"><i class="fa fa-sort-desc" aria-hidden="true"></i> Productos </label>
        <div class="spoiler col col-12">
        <table >
        <thead class="table-header">
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody id=ProductosCompra>

        </tbody>
        </table>
        <a href="#" onclick="agregarProducto()">Agregar Producto</a>
      </div>
 <!--fin spoiler -->
 <a href="#" onclick="submitNewCompra()" title="Abre el enlace">Aceptar</a> 
      </form>
    </div>
    <div id="delete" class="modal">
      <form method="post" class="modal-content abm-content">
        <a class="close" onclick="cerrar()" onkeypress="cerrar()" role="button">×</a>
          <h4> ¿Realmente desea eliminar esta venta?</h4><br>
        <input type="submit" value="Confirmar"/>
      </form>
    </div>
    <div class="modal">
      <form method="post" class="modal-content abm-content" action="/compras/factura" enctype="multipart/form-data">
        <a class="close" onclick="cerrar()" onkeypress="cerrar()" role="button">×</a>
            <label for="factura">Factura: </label>
            <input type="file" id="factura" name="factura" accept="image/*">
            <input type="hidden" name="idCompra" id="idCompra">
        <input type="submit" value="Confirmar"/>
      </form>
    </div>
    <br>
  <h1 class="title" id="listado">Listado de Compras</h1>
  <div class="centered">
  <a id="detalles" href="#" class="action-button shadow animate disabled" >Detalles</a>
  <a id="nuevo" href="#" class="action-button shadow animate green active" onclick ="mostrar('new')" onkeypress="mostrar('new')" role="button">Nuevo</a>
</div>
  <table summary="Tabla de usuarios del buffet">
  <tr>
    <th style="display:none;" > Numero </th>
    <th id="Producto">Proovedor</th>
    <th id="Cantidad">CUIL del Proovedor</th>
    <th id="Fecha">Fecha</th>
    <th>ACCIONES</th>
  </tr>
  {% for compra in compras %}
  <tr>
  <td  style="display:none;">{{ compra.id }}</td>
    <td>{{compra.proveedor}}</td>
    <td>{{compra.proveedor_cuit}}</td>
    <td>{{compra.fecha|date('Y-m-d')}}</td>
    <td>
        <a href="/compras/edit/{{ compra.id }}" title="Editar"><i class="fa fa-pencil"></i></a>
        <a href="/compras/delete/{{ compra.id }}" title="Eliminar"><i class="fa fa-trash-o"></i></a>
        <a href="/compras/factura/{{ compra.id }}" title="Factura"><i class="fa fa-file-o"></i></a>
    </td>
  </tr>
  {% endfor %}
  </table>

{% endblock %}
