{% extends "layout.twig" %}

{% block contenido %}
  
    <section class="center">
        <h2>Compra</h2>
        <label for="newProveedor">Proveedor: </label>
        <input type="text" name="newProveedor" id="newProveedor" readonly maxlength="20" placeholder="Proveedor" value="{{compra.proveedor}}" required />
        <label for="newCUIL">CUIL del Proveedor: </label>
        <input type="text" name="newCUIL" id="newCUIL" maxlength="20"  readonly placeholder="CUIT" value="{{compra.proveedor_cuit}}" required />
        <label for="fecha">Fecha: </label>
        <input type="text" name="fecha" id="fecha" maxlength="20"  readonly value="{{fecha|date('Y-m-d')}}" required />
        {% if compra.factura != null %}
        <label for="factura">Factura:</label>
        <img src="{{ baseUrl() }}/{{compra.factura}}" alt="factura" class="center" id="factura"/>
        {% else %}
        <label>Factura:Sin Factura cargada</label>
        {% endif %}
        <!--spoiler -->

   </section>
    <table summary="Tabla de usuarios del buffet">
  <tr>
    <th  style="display:none;"> Numero </th>
    <th id="Producto">Producto</th>
    <th id="Cantidad">Cantidad</th>
    <th id="Fecha">Precio</th>
  </tr>
  {% for detalle in compra.detalles %}
  <tr>
  <td id=algo style="display:none;">{{ loop.index }}</td>
    <td>{{detalle.producto.nombre}}</td>
    <td>{{detalle.cantidad}}</td>
    <td>{{detalle.preciounitario}}</td>
  </tr>
  {% endfor %}
  </table>

{% endblock %}