{% extends "layout.twig" %}

{% block contenido %}

<div class="container">
	<div class="col col-6 card">
		<h2 class="title">
			<span class="icon">
				<i class="fa fa-user"></i>
			</span>
			{{ user.username }}
		</h2>
		<form action={{ user.id }} method="POST">
			<p><span class="field">Nombre: </span><input type="text" name="name" value={{ user.name }}><br></p>
			<p><span class="field">Rol: </span><input type="text" name="rol" value={{ user.idRol }}><br></p>
			<input type="checkbox" name="habilitado" value =1 checked>Habilitado<br>
			<p><span class="field">Email: </span><input type="text" name="email" value={{ user.email }}><br></p>
			<input class="btn" type="submit" value="Submit">
	</div>

</div>

{% endblock %}