{% extends "layout.twig" %}

{% block contenido %}

<div class="container">

	<div class="main-header">
		<span class="icon">
			<i class="fa fa-folder fa-lg"></i>
		</span>
		<h2 class="title">Listado de cuotas</h1>
		<p class="main-description">A continuaci&oacute;n se ve el listado de las cuotas que est&aacute;n actualmente en el sistema.</p>
		<button class="btn"><i class="fa fa-plus-circle fa-lg"></i><a href="cuotas/insert">Nueva cuota</a></button>
	</div>
	<div class="listado">
		<table>
			<thead class="table-header">
				<tr>
					<th>Usuario</th>
					<th>Nombre</th>
					<th>Habilitado</th>
					<th>Email</th>
					<th>Rol</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr class="table-data-row">
						<td>{{ user.username }}</td>
						<td>{{ user.name }}</td>
						<td>{{ user.habilitado }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.idRol }}</td>
						<td>
							<a href="usuarios/editar/{{ user.id}}"><i class="fa fa-pencil"></i></a>
							<a href= javascript:preguntar({{ user.id}},"usuarios/eliminar/") ><i class="fa fa-trash-o"></i></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>	

{% endblock %}