<table summary="Tabla de usuarios del buffet" id='contenido'>
	<tr>
		<th id="Nombre">NOMBRE</th>
		<th id="MiembroDesde">DOCUMENTO</th>
		<th>ACCIONES</th>
	</tr>
		{% for usuario in usuarios %}
		  <tr id="{{ usuario.id }}">
				<td>{{ usuario.usuario }}</td>
				<td>{{ usuario.documento }}</td>
				<td>
					<a href="{{ baseUrl() }}/usuarios/show?id={{ usuario.id }}" title="Editar"><i class="fa fa-pencil"></i></a>
					<a href="{{ baseUrl() }}/usuarios/delete?id={{ usuario.id }}" title="Eliminar" onclick="return confirm('¿Está seguro que desea eliminar este usuario?')"><i class="fa fa-trash-o"></i></a>
				</td>
			</tr>
		{% endfor %}
	</table>
