{% extends "layout.twig" %}

{% block contenido %}

	<div class="col col-6-center card">
		<h2 class="title">
			<span class="icon">
				<i class="fa fa-user"></i>
			</span>
			{{ usuario.usuario }}
		</h2>
		<div class="user-data">
				<span class="field">Documento: </span>
				{{ usuario.documento }}
				<span class="field">Email: </span>
				<a href="mailto: {{ usuario.email }}">{{ usuario.email }}</a>
		</div>
		<div class="right">
			<a href="usuarios/edit?id={{ usuario.id }} class="action-button shadow animate green active">
				<i class="fa fa-pencil"></i>Modificar
			</a>
		</div>
	</div>

{% endblock %}
