{% extends "layout.twig" %}

{% block contenido %}

<div class="container">
	<div class="col col-6-center card">
		<h2 class="title">
			<span class="icon">
				<i class="fa fa-user"></i>
			</span>
			{{ usuario.usuario }}
		</h2>
		<div class="user-data">
				<span class="field">Documento: {{ usuario.documento }}</span>
				<span class="field">Email: {{ usuario.email }} </span>
				<span class="field">Nombre:	{{ usuario.nombre }}</span>
				<span class="field">Apellido:	{{ usuario.apellido }} </span>
				<span class="field">Ubicación: {{ usuario.ubicacion_id }} </span>
				<span class="field">Rol del Usuario: {{ usuario.rol_id }} </span>
				<span class="field">Teléfono: {{ usuario.telefono }} </span>
		</div>
		<div class="right">
			<a href="usuarios/edit?id={{ usuario.id }} class="action-button shadow animate green active">
				<i class="fa fa-pencil"></i>Modificar
			</a>
		</div>
	</div>
</div>
{% endblock %}
