{% extends "layout.twig" %}

{% block contenido %}

<div class="container">
	<div class="col col-6-center card">
		<h2 class="title">
			<span class="icon">
				<i class="fa fa-user"></i>
			</span>
			{{ usuario.usuario }}
		</h2>
		<div class="user-data">
		   <div class="set">
				<span class="field">Documento: </span>
				{{ usuario.documento }}
				</div>
				<div class="set">
				<span class="field">Email: </span>
				<a href="mailto: {{ usuario.email }}">{{ usuario.email }}</a>
				</div><div class="set">
				<span class="field">Nombre: </span>
				{{ usuario.nombre }}
				</div><div class="set">
				<span class="field">Apellido: </span>
				{{ usuario.apellido }}
				</div><div class="set">
				<span class="field">Ubicación: </span>
				{{ usuario.ubicacion }}
				</div><div class="set">
				<span class="field">Rol: </span>
				{{ usuario.rol_id }}
				</div><div class="set">
				<span class="field">Teléfono: </span>
				{{ usuario.telefono }}
				</div>
		</div>
		<div class="right">
			<a href="usuarios/edit?id={{ usuario.id }} class="action-button shadow animate green active">
				<i class="fa fa-pencil"></i>Modificar
			</a>
		</div>
	</div>
</div>
{% endblock %}
