{% extends "layout.twig" %}

{% block contenido %}

<div id="map-modal" class="modal__overlay">
	<div class="modal__map__wrap">
		<div class="col col-12 listado">
			<span id="close-modal" class="right toggle-modal">&#10006;</span>
			<h2>Recorridos</h2>
			<div id="pathsMap">
			</div>
		</div>
	</div>
</div>

<div class="container">

	<div class="main-header">
		<span class="icon">
			<i class="fa fa-hourglass-half fa-spin fa-3x"></i>
		</span>
		<h2 class="title">Listado de horas de {{user.name}}</h2>
		<p class="main-description">A continuaci&oacute;n se ve el listado de horas .</p>
		<a href="new" class="btn btn-primary"><i class="fa fa-plus-circle fa-lg"></i>Agregar horas</a>
	</div>
	<div class="listado">
		<form id="recorridos_form" action="alumnos/recorridos" method="post">
<table>
	<thead class="table-header">
		<tr>
			<th>Cliente</th>
			<th>Proyecto</th>
			<th>Fecha</th>
			<th>Horas</th>
			<th>Tarea</th>
			<th>Descripcion</th>
			{% if editable %}
				<th>Acciones</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for hora in user.horas %}
			<tr class="table-data-row">
				<td>{{ hora.cliente.nombreCliente }}</td>
				<td>{{ hora.proyecto.nombreProyecto }}</td>
				<td>{{hora.fecha| date("d/m/Y")}}</td>
				<td>{{ hora.horas }}</td>
				<td>{{ hora.tarea.nombreTarea }}</td>
				<td>{{ hora.descripcion}}</td>
				<td>{{cliente.descripcion}}</td>
				{% if editable %}
					<td>
						<a href="alumnos/{{ alumno.id }}/edit" title="Editar"><i class="fa fa-pencil"></i></a>
						<a href="alumnos/{{ alumno.id }}/delete" title="Eliminar"><i class="fa fa-trash-o"></i></a>
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
	</table>
</form>
	</div>
</div>	

{% endblock %}