{% extends "layout.twig" %}

{% block contenido %}
    <section class="center">
      <form method="post" action="/ventas/edit">
        <h3>Nueva venta</h3>
        <input type="hidden" name="id" value="{{ingreso.id}}">
        <label for="newSellProductName">Producto: </label>
        <select name="newSellProductName" id="newSellProductName">
          {%for producto in productos %}
          {% if producto.id== ingreso.producto.id%}
             <option value="{{producto.id}}" selected>{{producto.nombre}}</option>
          {% else %}
              <option value="{{producto.id}}">{{producto.nombre}}</option>
          {% endif %}
          {% endfor %}
        </select>
        <br/>
        <label for="newSellPrice">Precio: </label>
        <input type="number" id="newSellPrice" name="newSellPrice" step="0.05" placeholder="Precio" value="{{ingreso.preciounitario}}" required />
        <label for="newSellQuantity">Cantidad: </label>
        <input type="number" id="newSellQuantity" name="newSellQuantity" value="{{ingreso.cantidad}}" placeholder="Cantidad" required />
        <label for="newSellDate">Fecha: </label>
        <input type="date" id="newSellDate" name="newSellDate" value="{{ingreso.fecha|date('Y-m-d')}}" required />
        <label for="newSellDesc">Descripcion:  </label>
        <input type="text" id="newSellDesc" name="newSellDesc" value="{{ingreso.descripcion}}" maxlength=255 placeholder="Descripcion" required />
        <input type="submit" value="Agregar"/>
      </form>
    </section>

{% endblock %}