<table>
	<thead class="table-header">
		<tr>
			<th>Año</th>
			<th>Mes</th>
			<th>Numero</th>
			<th>Monto</th>
			<th>Tipo</th>
			<th>Fecha de alta</th>
			<th>Becado/Pago</th>
		</tr>
	</thead>
	<tbody>
		{% for pago in pagos %}
			<tr class="table-data-row">
				<td>{{ pago.cuota.anio }}</td>
				<td>{{ pago.cuota.mes | capitalize}}</td>
				<td>{{ pago.cuota.numero }}</td>
				<td>{{ pago.cuota.monto }}</td>
				<td>{{ pago.cuota.tipo | capitalize}}</td>
				<td>{{ pago.cuota.fechaAlta | date("d/m/Y") }}</td>
				<td>{% if pago.getBecado  %}
						{{ 'Becado' }}
					{% else %}
						{{ 'Pago' }}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>