{% extends "layout.twig" %}

{% block contenido %}

<div class="container">
	<div class="col col-12 listado">
		<h2>{{ alumno.nombre }} {{ alumno.apellido }}</h2>
		<h4>Cuotas pendientes</h4>
		<form action="" method="POST">
			<table>
				<thead class="table-header">
					<tr>
						<td>Año</td>
						<td>Mes</td>
						<td>Tipo</td>
						<td>Comision (%)</td>
						<td>Fecha Alta</td>
						<td>Accion</td>
					</tr>
				</thead>
				<tbody>
					{% for cuota in cuotas %}
						<tr class="table-data-row">
							<td>{{ cuota.anio }}</td>
							<td>{{ cuota.mes }}</td>
							<td>{{ cuota.tipo | capitalize}}</td>
							<td>{{ cuota.comisionCobrador }}</td>
							<td>{{ cuota.fechaAlta | date('d-m-Y') }}</td>
							<td>
								<input type="hidden" name="cuotas[{{ cuota.id }}][id]" value="{{ cuota.id }}">
								<select name="cuotas[{{ cuota.id }}][tipo]">
									<option value=""></option>
									<option value="becar">Becar</option>
									<option value="pagar">Pagar</option>
								</select>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<span class="btn btn-primary">
				<i class="fa fa-check"></i>
				<input type="submit" value="Pagar/Becar"/>
			</span>
		</form>
	</div>
	<div class="col col-12 listado">
		<h4>Cuotas pagas</h4>
		{% include 'pagos/_pagados.twig' with { 'pagos' : alumno.pagos } %}
	</div>
</div>

{% endblock contenido %}