<form action="" method="POST">
	<input type="hidden" name="_METHOD" value="PUT"/>
	
	<div class="input-group">
		<label for="nombre">Nombre</label>
		<input type="text" class="field" name="nombre" value="{{ alumno.nombre }}" required>
		<br />
	</div>
	
	<div class="input-group">
		<label for="apellido">Apellido</label>
		<input type="text" class="field" name="apellido" value="{{ alumno.apellido }}" required>
		<br />
	</div>

	<div class="input-group">
		<label for="tipo_documento">Tipo documento</label>
		<input type="text" class="field" name="tipo_documento" value="{{ alumno.getTipoDocumento }}" required>
		<br />
	</div>

	<div class="input-group">
		<label for="numero_documento">Numero documento</label>
		<input type="number" class="field" name="numero_documento" value="{{ alumno.getNumeroDocumento }}" required>
		<br />
	</div>

	<div class="input-group">
		<label for="fecha_nacimiento">Fecha de Nacimiento</label>
		<input type="datepicker" name="fecha_nacimiento" value="{{ alumno.getFechaNacimiento | date('d-m-Y') }}" required>
		<br />
	</div>

	<div class="input-group">
		<label for="fecha_ingreso">Fecha de Ingreso</label>
		<input type="datepicker" name="fecha_ingreso" value="{{ alumno.getFechaIngreso | date('d-m-Y') }}" required>
		<br />
	</div>

	<div class="input-group">
		<label for="fecha_egreso">Fecha de egreso</label>
		<input type="datepicker" name="fecha_egreso" value="{{ alumno.getFechaEgreso | date('d-m-Y') }}">
		<small>* No obligatorio</small>
		<br />
	</div>

	<div class="input-group">
		<label for="sexo">Sexo</label>
		<input type="radio" name="sexo" value="masculino"{% if alumno.sexo == 'masculino' %} {{ 'checked '}} {% endif %}>Masculino
		<input type="radio" name="sexo" value="femenino"{% if alumno.sexo == 'femenino' %} {{ 'checked '}} {% endif %}>Femenino
		<br />
	</div>

	<div id="edit-direccion">
		<div class="input-inline">
			<br />
			<label for="calle">Calle</label>
			<input id="calle" type="text" name="calle" value="{{ alumno.calle }}" required>
			<label for="numero">Numero</label>
			<input id="numero" type="text" name="numero" value="{{ alumno.numero }}" required>
			<br>
		</div>

		<ul id="suggestions" class="dropdown-menu">
		</ul>
		<br />

		<input id="latitud" name="latitud" type="hidden" value="{{ alumno.latitud }}" >
		<input id="longitud" name="longitud" type="hidden" value="{{ alumno.longitud }}">
	</div>

	<div id="markerMap"></div>
	<br />
	<div class="input-group">
		<label for="email">Email</label>
		<input type="text" name="email" value="{{ alumno.email }}" required>
		<br>
	</div>

	<span class="btn btn-primary">
		<i class="fa fa-check"></i>
		<input type="submit" value="Editar Alumno"/>
	</span>
</form>