<div class="centered">
<ul class="pagination">
  <li><a href="{{ baseUrl() }}/productosFaltantes/goprev">&laquo;</a></li>
    {% for i in 1..pagesCount %}
        <li><a href="{{ baseUrl() }}/productosFaltantes/page?id={{i}}">{{ i }}</a></li>
    {% endfor %}
  <li><a href="{{ baseUrl() }}/productosFaltantes/gonext">&raquo;</a></li>
</ul>
</div>
