<table>
	<thead class="table-header">
		<tr>
			<th>Año</th>
			<th>Mes</th>
			<th>Numero</th>
			<th>Monto</th>
			<th>Tipo</th>
			<th>Fecha de alta</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% for cuota in cuotas %}
			<tr class="table-data-row">
				<td>{{ cuota.anio }}</td>
				<td>{{ cuota.mes | capitalize}}</td>
				<td>{{ cuota.numero }}</td>
				<td>{{ cuota.monto }}</td>
				<td>{{ cuota.tipo | capitalize}}</td>
				<td>{{ cuota.fechaAlta | date("d/m/Y") }}</td>
				<td>
					{% include 'cuotas/_actions.twig' with { 'cuota' : cuota } %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>