{% extends "layout.twig" %}

{% block contenido %}
    <br>
    <section>
        <form method="post" action="{{ baseUrl() }}/config/setDescripcion" class="config" enctype="multipart/form-data">
            <h2>Cambiar Información</h2>
            <label for="menuTitleInfo">Título: </label>
            <input type="text" id="menuTitleInfo" name="titleInfo" maxlength="50" placeholder="Titulo" value="{{tituloDescripcion.valor}}" required/>
            <br>
            <br>
            <label for="mail">Mail de contacto: </label>
            <input type="email" id="mail" name="mail" maxlength="50" placeholder="Titulo" value="{{mail.valor}}" required/>
            <br>
            <br>
            <textarea class="estilotextarea" rows="17" cols="30" id="textarea-info" name="descInfo" title="textarea-menu">{{infoDescripcion.valor}}</textarea>
            <img src="{{ baseUrl() }}/{{imgDescripcion.valor}}" alt="retrato a poner en la portada" />
            <input type="file" id="myFileInfo" name="myFileInfo" accept="image/*">
            <br>
            <br>
            <input type="hidden" name="token" value={{token}}>
            <input type="submit" value="Guardar"/>
        </form>
    </section>
    <section>
        <form method="post" action="{{ baseUrl() }}/config/setMenu" class="config" enctype="multipart/form-data">
            <h2>Cambiar men&uacute;</h2>
            <label for="menuTitleMenu">Titulo: </label>
            <input type="text" id="menuTitleMenu" maxlength="50" placeholder="Titulo" name="menuTitulo" value="{{tituloMenu.valor}}" required/>
            <br>
            <br>
            <textarea class="estilotextarea" rows="17" cols="30" id="textarea-menu" name="menuInfo" title="textarea-menu"> {{infoMenu.valor}}</textarea>
            <img src="{{ baseUrl() }}/{{imgMenu.valor}}" alt="representacion del plato subioa" />
            <input type="file" id="myFileMenu" name="myFileMenu" accept="image/*">
            <br>
            <br>
            <input type="hidden" name="token" value={{token}}>
            <input type="submit" value="Guardar"/>
        </form>
    </section>
    <section>
        <form method="post" action="{{ baseUrl() }}/config/setPaginacion" class="config">
            <h2>Paginaci&oacute;n</h2>
            <label for="paginacionInt">Paginaci&oacute;n: </label>
            <input type="number" id="paginacionInt" name="paginacionInt" step=1 placeholder="Paginaci&oacute;n" value="{{paginacion.valor}}" required/>
            <br>
            <br>
            <input type="hidden" name="token" value={{token}}>
            <input type="submit" value="Guardar"/>
        </form>
    </section>
    <section>
        <form method="post" action="{{ baseUrl() }}/config/setHabilitado" class="config">
            <h2>Paginaci&oacute;n</h2>
            <textarea class="estilotextarea" rows="17" cols="50" id="textarea-msg" name="msg" title="textarea-menu">{{msg.valor}}</textarea>
            <div class="radio-toolbar">
            {% if habilitado.valor == 0 %}
            <input type="checkbox" name="habilitado" id="habilitado" onchange="pr()" value="1">Habilitado:
            {% else %}
            <input type="checkbox" name="habilitado" id="habilitado" onchange="pr()" value="1" checked>Habilitado:
            {% endif %}
            </div>

            <br>
            <br>
            <input type="hidden" name="token" value={{token}}>
            <input type="submit" value="Guardar"/>
        </form>
    </section>
    {% endblock %}
