{% extends "layout.twig" %}

{% block contenido %}
<section>
    <h2>{{tituloDescripcion.valor}}</h2>
    <p>{{infoDescripcion.valor}}</p>

    <img src="{{ baseUrl() }}{{imgDescripcion.valor}}" alt="fondo del buffet"/>
</section>
<section>
    <h2>Menú del día</h2>
    <img src="{{ baseUrl() }}{{imgMenu.valor}}" alt="menu del dia"/>
    <h2 class="menuday"><br>{{tituloMenu.valor}}</h2>
    <p>{{infoMenu.valor}}</p>
</section>
{% endblock %}
