{% extends "layout.twig" %}

{% block contenido %}
{% if habilitado.valor == 0 %}
<section>
    <h2>{{tituloDescripcion.valor}}</h2>
    <p>{{infoDescripcion.valor}}</p>

    <img src="{{ baseUrl() }}/{{imgDescripcion.valor}}" alt="fondo del buffet"/>
</section>
<section>
    <h2>Menú del día</h2>
    <img src="{{ baseUrl() }}/{{imgMenu.valor}}" alt="menu del dia"/>
    <h2 class="menuday"><br>{{tituloMenu.valor}}</h2>
    <p>{{infoMenu.valor}}</p>
</section>
{% else %}
<section>
    <h2>Sitio Deshabilitado</h2>
    <p>{{msgDeshabilitado.valor}}</p>

</section>
{% endif %}
{% endblock %}
