{% extends "layout.twig" %}

{% block contenido %}

	<div class="container">


  <div class="listado">
		<table>
			<thead class="table-header">
				<tr>
					<th>Cliente</th>
					<th>Proyecto</th>
					<th>Tarea</th>
					<th>Cant. Horas</th>
					<th>Descripcion</th>
				</tr>
			</thead>
			<tbody>
			{% for hora in horas %}
					<tr class="table-data-row">
						<td> {{ hora.idCliente }} </td>
						<td> {{ hora.idProyecto }} </td>
						<td> {{ hora.tarea }} </td>
						<td> {{ hora.cantidad_Horas }} </td>
						<td> {{ hora.descripcion }} </td>

					</tr>
						{% endfor %}
				<tr class="table-data-row">
						<td> <select selected="audi" onchange="window.location = 'http://www.google.com';">
						  <option value="volvo" onClick="window.location = 'http://www.google.com';" >Volvo</option>
						  <option value="saab">Saab</option>
						  <option value="mercedes">Mercedes</option>
						  <option value="audi" selected>Audi</option>
						</select> </td>
						<td> hora.idProyecto  </td>
						<td>  hora.tarea  </td>
						<td>  hora.cantidad_Horas  </td>
						<td> hora.descripcion  </td>

					</tr>
			</tbody>
		</table>
	</div>
</div>
  <div class="col-md-3"></div>
</div>


{% endblock %}


