		<form id="recorridos_form" action="alumnos/recorridos" method="post">
<table>
	<thead class="table-header">
		<tr>					
			<th>Nombre</th>
			<th>Horas estimadas</th>
			<th>Direccion</th>
			<th>Descripcion </th>
			<th>Editar </th>
		</tr>
	</thead>
	<tbody>
		{% for tarea in tareas %}
			<tr class="table-data-row">
				<td>
						<a href="/tarea/show/{{ tarea.id }}">{{ tarea.nombreTarea }}</a>
				</td>
				<td>{{tarea.horasEstimadas}}</td>
				<td>{{tarea.direccion}}</td>
				<td>{{tarea.descripcion}}</td>
				<td><a href="tarea/edit/{{tarea.id}}" title="Editar"><i class="fa fa-pencil"></i></a></td>

			</tr>
		{% endfor %}
	</tbody>
	</table>
	<div class="right">

	
</div>
</form>