{% extends "layout.twig" %}

{% block contenido %}

<div class="container">
	<div class="col col-12 card">
		<h2 class="title">
			<span class="icon">
				<i class="fa fa-user"></i>
			</span>
			{{ tarea.cliente.nombreCliente }}->{{ tarea.proyecto.nombreProyecto }}->{{tarea.item.nombreItem}}

		</h2>

	</div>

	<div class="col col-6 card">
		<h2 class="title">
			<span class="icon">
				<i class="fa fa-group"></i>
			</span>
			Todos los usuarios
		</h2>
		<table>

		<thead class="table-header">
		<tr>
			<th>Nombraaaaae</th>
			<th>Agregar</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
			<tr class="table-data-row">
				<td>
						<a href="/tarea/show/{{ user.id }}">{{ user.username }}</a>
				</td>
				<td>
				<a href="asignar/{{ tarea.id }}/{{ user.id }}"><i class="fa fa-angle-right"></i></a>
				</td>
			</tr>
		{% endfor %}
			</tbody>
	</table>
				<h2 class="title">


</div>
	<div class="col col-6 card">
		<h2 class="title">
			<span class="icon">
				<i class="fa fa-group"></i>
			</span>
			Usuarios asignados</h2>
		<table>

		<thead class="table-header">
		<tr>
			<th>Nombre</th>
			<th>Quitar</th>

		</tr>
	</thead>
	<tbody>
		{% for asignado in tarea.usuarios %}
			<tr class="table-data-row">
				<td>
						<a href="/tarea/show/{{ asignado.id }}">{{ asignado.username }}</a>
				</td>
				<td>
				<a href="desasignar/{{ tarea.id }}/{{ asignado.id }}"><i class="fa fa-angle-left"></i></a>
				</td>

			</tr>
		{% endfor %}
			</tbody>
	</table>



</div>
</div>

{% endblock %}