{% extends 'layout.twig' %}

{% block contenido %}	

<div class="container">
	<div class="col col-12 listado formulario">
		<div class="container">
			<a href="/horas"><i class="fa fa-chevron-left icon"></i>Atras</a>
			<h2 class="title">
				Nueva tarea
			</h2>
			<form id="alumnos_new" action="/tarea/new" method="POST">
	
	<div class="input-group">
		<label for="cliente">Cliente</label>
		<select name="cliente" id="mySelect" onchange="myFunction()">
		{% for cliente in clientes %}
			{% if ((cliente.id == selected)) %}
			<option value="{{ cliente.id }}" selected >{{ cliente.nombreCliente }}</option>
			{% else %}			
				
			<option value="{{ cliente.id }}">{{ cliente.nombreCliente }}</option>
			{% endif %}
		{% endfor %}
	</select>
		<br />
	</div>
	<script>
		function myFunction() {
		    var x = document.getElementById("mySelect").value;
		    window.location.href ="/tarea/new/" + x;
		}
	</script>
	<div class="input-group">
		<label for="proyecto">Proyectos</label>
		<select name="proyecto" id="mySelect2" onchange="myFunction2()">
			{% for proyecto in clientep.proyectos %}
				{% if ((proyecto.id == proselected)) %}
				<option value="{{ proyecto.id }}" selected >{{ proyecto.nombreProyecto }}</option>
				{% else %}			
					
				<option value="{{ proyecto.id }}">{{ proyecto.nombreProyecto }}</option>
				{% endif %}
			{% endfor %}
			</select>
		<br />
	</div>
		<script>
		function myFunction2() {
		    var x = document.getElementById("mySelect").value;
		    var y = document.getElementById("mySelect2").value;
		    window.location.href ="/tarea/new/" + x + "/" + y;
		}
	</script>
	<div class="input-group">
		<label for="item">Items</label>
		<select name="item" id="mySelect" onchange="myFunction2()">
			{% for item in proyecto.items %}
				{% if ((item.id == itemselect)) %}
					<option value="{{ item.id }}" selected>{{ item.nombreItem }}</option>
				{% else %}			
					
					<option value="{{ item.id }}">{{ item.nombreItem }}</option>
				{% endif %}
			
			{% endfor %}
			</select>
		<br />
	</div>
	<div class="input-group">
		<label for="tarea">Nombre tarea</label>
		<textarea name="tarea" cols="40" rows="3"  maxlength="100" required></textarea>
		<br />
	</div>
		<div class="input-group">
		<label for="numero_documento">Horas estimadas</label>
		<input type="number" class="field" name="horas" min="0.5" step="0.5" required>
		<br />
	</div>

	<div class="input-group">
		<label for="descripcion">Direccion de la carpeta</label>
		<textarea name="direccion" cols="40" rows="5" maxlength="255" required></textarea>
		<br />
	</div>

	<div class="input-group">
		<label for="descripcion">Descripcion</label>
		<textarea name="descripcion" cols="40" rows="5" maxlength="255" required></textarea>
		<br/>
	</div>
	<span class="btn btn-primary">
		<i class="fa fa-check"></i>
		<input type="submit" value="Crear item"/>
	</span>

</form>
		</div>
	</div>
</div>

{% endblock %}