<table summary="Tabla de productos del buffet" id='contenido'>
  <tr>
    <th id="Nombre">NOMBRE</th>
    <th id="Marca">MARCA</th>
    <th id="Stock">CATEGORIA</th>
    <th id="Stock">PRECIO</th>
    <th id="Stock">STOCK</th>
  </tr>
  {% for producto in productos %}
  	{% for productoi in producto %}
		<tr id="{{ productoi.id }}">
			<td>{{ productoi.nombre }}</td>
			<td>{{ productoi.marca }}</td>
      <td>{{ productoi.categoria_id.nombre }}</td>
      <td>{{ productoi.precio_venta_unitario }}</td>
			<td>{{ productoi.stock }}</td>
		</tr>
    {% endfor %}
	{% endfor %}
  </table>
<br><br>
{% if session.rol == 1 or session.rol == 3   %}
<h1 class="title">Tabla de Pedidos</h1>
<table summary="Tabla de pedidos" id='contenido2'>
  <tr>
    <th id="Fecha">FECHA</th>
    <th id="Estado">ESTADO</th>
    <th id="Estado">USUARIO</th>
    <th id="Descripcion">ACCIONES</th>
  </tr>
	{% for pedido in pedidos %}
		<tr id="{{ pedido.id }}">
			<td>{{ pedido.fecha_alta | date('Y-m-d') }}</td>
      {% if pedido.estado_id.id == 1 %}
			   <td>Pendiente</td>
      {% elseif pedido.estado_id.id == 2 %}
         <td>Entregado</td>
      {% else %}
       <td>Cancelado</td>
      {% endif %}
      <td><a href="{{ baseUrl() }}/usuarios/show?id={{ pedido.usuario_id.id }}">{{ pedido.usuario_id.nombre }}</a></td>
			<td><a href="{{ baseUrl() }}/pedidos/show?id={{ pedido.id }}" title="Ver Detalles"><i class="fa fa-eye"></i></a></td>
		</tr>
	{% endfor %}
  </table>
{% else %}
<h1 class="title">Mis Pedidos</h1>
<form method="post" id="formNew" action="{{ baseUrl() }}/pedidos/search" class="modal-content abm-content">
<h3> Buscador entre fechas </h3>
<label for="desde">Desde</label>
<input type="date" name="desde">
<label for="hasta">Hasta</label>
<input type="date" name="hasta">
<input type="submit" value="Filtrar">
</form>
<table summary="Tabla de pedidos mios" id='contenido3'>
  <tr>
    <th id="Fecha">FECHA</th>
    <th id="Estado">ESTADO</th>
    <th id="Descripcion">ACCIONES</th>
  </tr>
	{% for pedido in pedidosMios %}
		<tr id="{{ pedido.id }}">
			<td>{{ pedido.fecha_alta | date('Y-m-d') }}</td>
      {% if pedido.estado_id.id == 1 %}
			   <td>Pendiente</td>
      {% elseif pedido.estado_id.id == 2 %}
         <td>Entregado</td>
      {% else %}
       <td>Cancelado</td>
      {% endif %}
			<td><a href="#" title="Cancelar pedido">Cancelar</a></td>
		</tr>
	{% endfor %}
  </table>
{% endif %}
