{% extends "layout.twig" %}
{% block contenido %}
<script>
    var comprasjson = {{menus|json_encode|raw}};
    var json = {{productos|json_encode|raw}};
  function cargarModal(j) {
    document.getElementById("formVerDetalles");
    var vdProveedor=document.getElementById("vdProveedor");
    var vdCUIL=document.getElementById("vdCUIL");
  }
</script>
    <div id="new" class="modal">
      <form method="post" id="formNew" action="{{ baseUrl() }}/pedidos/new" class="modal-content abm-content">
        <a class="close" onclick="cerrar()" onkeypress="cerrar()" role="button">×</a>
        <h3>Nuevo Pedido</h3>
        <label for="newObservacion">Observaciones: </label>
        <input type="text" name="observacion" id="newObservacion" maxlength="255" placeholder="Observacion" required />
        <!--spoiler -->
        <input type="checkbox" id="spoilerNewMenu">
        <label for="spoilerNewMenu"><i class="fa fa-sort-desc" aria-hidden="true"></i> Productos del Menú del día </label>
        <div class="spoiler col col-12">
        <table >
        <thead class="table-header">
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody id=ProductosPedido>
        </tbody>
        </table>
        <a href="#" onclick="agregarPedido()">Agregar Producto</a>
      </div>
 <!--fin spoiler -->
 <a href="#" onclick="submitNewPedido()" title="Abre el enlace">Aceptar</a>
      </form>
    </div>
<!--modal para cerrar -->
    <div id="cerrar" class="modal">
      <form method="post" action="{{ baseUrl() }}/pedidos/cancelar" class="modal-content abm-content">
        <a class="close" onclick="cerrarMP()" onkeypress="cerrar()" role="button">×</a>
        <h3>Cerrar Pedido</h3>
        <label for="comentario">Observaciones: </label>
        <input type="text" name="comentario" maxlength="255" placeholder="comentario" required />
        <input type="hidden" name="idPedido" id="idPedido">
  <input type="submit" name="aceptar">
      </form>
    </div>
  <!-- fin del modal-->
  <!--modal para cerrar -->
    <div id="cerrarOnline" class="modal">
      <form method="post" action="{{ baseUrl() }}/pedidos/cancelarOnline" class="modal-content abm-content">
        <a class="close" onclick="cerrarMP()" onkeypress="cerrar()" role="button">×</a>
        <h3>Cerrar Pedido</h3>
        <label for="comentario">Observaciones: </label>
        <input type="text" name="comentario" id="comentario" maxlength="255" placeholder="comentario" required />
        <input type="hidden" name="idPedidoOnline" id="idPedidoOnline">
  <input type="submit" name="aceptar">
      </form>
    </div>
  <!-- fin del modal-->
    <br>

  <h1 class="title" id="listado">Menú del día - Productos</h1>
  <div class="centered">
  {% if session.rol == 2 %}
    <a id="nuevo" href="#" class="action-button shadow animate green active" onclick ="mostrar('new')" onkeypress="mostrar('new')" role="button">Nuevo</a>
  {% endif %}
</div>
{% include 'pedidos/_index.twig' with {'pedidos' : pedidos, 'productos' : productos } %}
{% endblock %}
