<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Buffet - FI</title>
        <link rel="stylesheet" type="text/css" href= "{{ baseUrl() }}/css/style.css">
        <script type="text/javascript" src="{{ baseUrl() }}/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="{{ baseUrl() }}/js/modal.js"></script>
        <script type="text/javascript" src="{{ baseUrl() }}/js/abm.js"></script>
        <script type="text/javascript" src="{{ baseUrl() }}/js/compra.js"></script>
        <script type="text/javascript" src="{{ baseUrl() }}/js/pedidos.js"></script>
        <script type="text/javascript" src="{{ baseUrl() }}/js/menus.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="http://code.highcharts.com/modules/offline-exporting.js"></script>
<script src = "http://code.highcharts.com/modules/exporting.js"> </script> 
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ baseUrl() }}/css/font-awesome-4.6.3/css/font-awesome.min.css">
        <link rel="icon" type="image/png" href="{{ baseUrl() }}/img/Icon.ico"/>
    </head>
    <body>
      <header id='header'>
        <h1>Buffet de la Facultad de Informática UNLP
          {% if session.user is not null %}
            <a href="{{ baseUrl() }}/config"><i class="fa fa-cog" aria-hidden="true"></i></a>
          {% endif %}
       </h1>
    {% if session.user is not null %}

      <a href="{{ baseUrl() }}/logout" class="login">Logout</a>
      {% if habilitado.valor == 0 %}
    </header>
    <nav id='nav'>
        <ul>
           <li class="first" ><a href="{{ baseUrl() }}/">Inicio</a></li>
           <li><a href="{{ baseUrl() }}/productos">Productos</a> </li>
           <li><a href="{{ baseUrl() }}/usuarios">Usuarios</a> </li>
           <li><a href="{{ baseUrl() }}/menu">Menú</a> </li>
           <li><a href="{{ baseUrl() }}/pedidos">Pedidos</a> </li>
           <li><a href="{{ baseUrl() }}/compras">Compras</a> </li>
           <li><a href="{{ baseUrl() }}/ventas">Ventas</a> </li>
           <li class="last"><a href="#">Balance</a>
                <ul>
                   <li><a href="{{ baseUrl() }}/productosFaltantes">Productos Faltantes</a> </li>
                   <li><a href="{{ baseUrl() }}/stockMinimo">Stock Minimo</a> </li>
                   <li><a href="#" onclick ="mostrar('modalIngresos')">Ingresos</a> </li>
                   <li><a href="#" onclick ="mostrar('modalGastos')">Gastos</a> </li>
                </ul></li>
       </ul>
    </nav>
    <br>
    {% endif %}
    {% include 'components/reportModal.twig' with { 'id' : 'modalIngresos','action' : '/balanceIngresos','titulo' : 'Ingresos' } %}
    {% include 'components/reportModal.twig' with { 'id' : 'modalGastos','action' : '/balanceGastos','titulo' : 'Gastos' } %}

     {% else %}
       <a href="#" onclick ="mostrar('modelLogin')" class="login" role="button">Login </a>
       <a href="#" onclick ="mostrar('new')" class="login" role="button">Registrarse</a>
     </header>
     <div id="new" class="modal">
       <form method="POST" action="registrar" class="modal-content abm-content">
         <a class="close" onclick="cerrar()" onkeypress="cerrar()" role="button">×</a>
         <h3>Registrarse</h3>
         <label for="newName">Nombre: </label>
         <input type="text" name="nombre" id="newName" maxlength="45" placeholder="Nombre" required/>
         <label for="newApellido">Apellido: </label>
         <input type="text" name="apellido" id="newApellido" maxlength="45" placeholder="Apellido" required/>
         <label for="newTelefono">Teléfono: </label>
         <input type="number" name="telefono" id="newTelefono" placeholder="Tel.." required/>
         <label for="newUbicacion2" id="labelUbicacion2">Ubicación: </label>
         <select id="newUbicacion2" name="ubicacion_id">
          <option value="" selected="selected">Seleccione</option>
          {% for ubicacion in ubicaciones %}
          <option value="{{ ubicacion.id }}">{{ ubicacion.nombre }} | {{ ubicacion.descripcion }}</option>
          {% endfor %}
         </select>
         <label for="newMail">Mail: </label>
         <input type="email" name="email" id="newMail" placeholder="Email.." required/>
         <label for="newDocumento">Documento: </label>
         <input type="number" name="documento" id="newDocumento" placeholder="Documento" required/>
         <label for="newUsername">Nombre de usuario: </label>
         <input type="text" name="user" id="newUsername" maxlength="20" placeholder="Nombre de usuario" required/>
         <label for="newPassword">Contraseña: </label>
         <input type="password" name="pass" id="newPassword" maxlength="20" placeholder="Contraseña" required/>
          <br><br>
         <input type="submit" value="Agregar"/>
       </form>
     </div>
     <div id="modelLogin" class="modal">
     <form method="post" action="index.php" class="modal-content login-content">
       <a class="close" onclick="cerrar()" onkeypress="cerrar()" role="button">×</a>
       <h3 id="login-title">Login</h3>
       <input type="text" placeholder="Ingresar Usuario" name="username" id="user" title="Usuario" required>
       <input type="password" placeholder="Ingresar password" name="pass" id="password" title="Password" required>
       <a href="#" class="forgot">¿Olvidaste tu contraseña?</a>
       <input type="submit" id="login-submit" name="submit" value="Ingresar" onkeypress="logued()">
     </form>
     </div>

     <br><br><br>
    {% endif %}
    {% if flash is not empty %}
      {% include 'components/messages.twig' %}

    {% endif %}
