{% extends "layout.twig" %}

{% block contenido %}

<div class="container">
	<div class="col col-6 card">
		<h2 class="title">
			<span class="icon">
				<i class="fa fa-folder"></i>
			</span>
			{{ cuota.anio }} / {{ cuota.mes }}
		</h2>
		<form action={{ cuota.id }} method="POST">
			<p><span class="field">Numero: </span><input type="number" name="numero" min="1" max="99999999999" value={{ cuota.numero }}><br></p>
			<p><span class="field">Monto: </span><input type="number" name="monto" min="1" max="99999999999" value={{ cuota.monto }}><br></p>
			<input type="radio" name="tipo" value ="mensual" checked>Mensual<br>
			<input type="radio" name="tipo" value="matricula" >Matricula<br>
			<p><span class="field">Comision cobrador: </span><input type="number" name="comco" min="1" max="99999999999" value={{ cuota.comisioncobrador }}><br></p>
			<input class="btn" type="submit" value="Submit">
	</div>

</div>

{% endblock %}