{% extends 'layout.twig' %}

{% block contenido %}	

<div class="container">
	<div class="col col-12 listado formulario">
		<div class="container">
			<a href="/proyectos/show/{{proyecto.id}}"><i class="fa fa-chevron-left icon"></i>Atras</a>
			<h2 class="title">
				Nuevo Item
			</h2>
			<form id="alumnos_new" action="/item/new" method="POST">
			<h3 class="title">
				Cliente: {{ proyecto.cliente.nombreCliente }}
			</h3>
			<h3 class="title">
				Proyecto: {{ proyecto.nombreProyecto }}
			</h3>
	<div class="input-group">
		<label for="item">Nombre Item</label>
		<textarea name="item" cols="40" rows="3"  maxlength="100" required></textarea>
		<br />
	</div> 
	<div class="input-group">
		<label for="fechaInicio">Fecha inicio</label>
		<input type="datepicker" name="fechaInicio">
		<br />
	</div>
	<div class="input-group">
		<label for="fechafin">Fecha fin</label>
		<input type="datepicker" name="fechafin">
		<br />
	</div>

	<div class="input-group">
		<label for="descripcion">Descripcion</label>
		<textarea name="descripcion" cols="40" rows="5" maxlength="255" required></textarea>
		<br />
	</div>


	<span class="btn btn-primary">
		<i class="fa fa-check"></i>
		<input type="submit" value="Agregar item"/>
	</span>
	<textarea name="cliente" cols="40" rows="3"  maxlength="100" style="display:none;" required>{{proyecto.cliente.id}}</textarea>
	<textarea name="proyecto" cols="40" rows="3"  maxlength="100" style="display:none;" required>{{proyecto.id}}</textarea>
</form>
		</div>
	</div>
</div>

{% endblock %}