{% extends "layout.twig" %}

{% block contenido %}

<div class="container">
	<div class="col col-6 card">
		<h2 class="title">
			<span class="icon">
				<i class="fa fa-bullseye"></i>
			</span>
			{{ item.cliente.nombreCliente }}->{{ item.proyecto.nombreProyecto }}->{{item.nombreItem}}

		</h2>
		<!--<pre class="debug">{{ dump(alumno) }}</pre>-->
		<div class="student-data">
			<p>
				<span class="field">Descripcion: </span>
				{{ item.descripcion }}
			</p>
			<p>
				<span class="field">Fecha de inicio: </span>
				{{ item.fechaInicio| date('d-m-Y')  }}
			</p>
			<p>
				<span class="field">Fecha de fin: </span>
				{{ item.fechaFin| date('d-m-Y')  }}
			</p>

		</div>
	</div>

	<div class="col col-6 card">
		<h2 class="title">
			<span class="icon">
				<i class="fa fa-group"></i>
			</span>
			Tareas
		</h2>
		{% include 'tarea/_index.twig' with {'tareas' : item.tareas} %}
				<h2 class="title">

		<a href="/tarea/new/{{item.cliente.id}}/{{item.proyecto.id}}/{{item.id}}" class="btn btn-primary">
		<i class="fa fa-plus-circle"></i>Agregar
	</a>


</div>

{% endblock %}