{% extends "layout.twig" %}

{% block contenido %}

<div class="container">
	<div class="col col-6 card">
		<h2 class="title">
			<span class="icon">
				<i class="fa fa-user"></i>
			</span>
			{{ cliente.nombreCliente }}
		</h2>
		<!--<pre class="debug">{{ dump(alumno) }}</pre>-->
		<div class="student-data">
			<p>
				<span class="field">Descripcion: </span>
				{{ cliente.descripcion }}
			</p>
			<p>
				<span class="field">Fecha de ingreso: </span>
				{{ cliente.fechaIngreso | date("d/m/Y")}}
			</p>

		</div>
	</div>

	<div class="col col-6 card">
		<h2 class="title">
			<span class="icon">
				<i class="fa fa-sitemap"></i>
			</span>
			Proyectos
		</h2>
		{% include 'proyectos/_index2.twig' with {'proyectos': cliente.proyectos} %}

		<a href="{{cliente.id}}/proyecto/new" class="btn btn-primary">
		<i class="fa fa-plus-circle"></i>Agregar
	</a>
	
    </div>
</div>

{% endblock %}